<ion-content>
  <ion-card class="ion-no-border">
    <ion-card-content>
     <ion-item lines="none">
       <ion-icon slot="end" color="danger" (click)="closeModal()" name="close-outline"></ion-icon>
       <ion-label class="card-title "><b>{{immo.immobilisation.libelle}}</b></ion-label>
     </ion-item>
      <ion-label >
        <p>Description: {{immo.immobilisation.description}}</p>
        <p>Marque: {{immo.immobilisation.marque}}</p>
      </ion-label>
      <ion-row>
        <ion-col size="3">
          <ion-icon size="large" (click)="mouvement('remove')" color="danger" name="remove-circle-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-input type="number" placeholder="Entrer la quantité" [(ngModel)]="inventairesoumi.quantite_inventorier" ></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-icon (click)="mouvement('add')" size="large" color="success" name="add-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
        <ion-textarea rows="1" cols="10" [(ngModel)]="inventairesoumi.commentaire"  placeholder="Commentaire"></ion-textarea>
    </ion-card-content>
    <ion-card-subtitle class="text-center">
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-button size="small" type="button"  (click)="valider()">Valider
          </ion-button>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>

    </ion-card-subtitle>
  </ion-card>
</ion-content>
