<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-label class="ion-text-center">
        <strong>{{inventaireService.loginService.userLogin.nomentreprise}}</strong>
        <p>{{inventaireService.loginService.userLogin.uniteentreprise}}</p>
      </ion-label>
    </ion-title>
    <ion-avatar slot="end">
      <ion-img src="./assets/icon/favicon.png"></ion-img>
    </ion-avatar>
  </ion-toolbar>
  <ion-label class="progresse ion-margin-top" *ngIf="inventaireService.evolutionInventaire">
    <ion-progress-bar color="warning" class="ion-margin-top" [buffer]="inventaireService.evolutionInventaire.en_cours/inventaireService.evolutionInventaire.total" [value]="inventaireService.evolutionInventaire.en_cours/inventaireService.evolutionInventaire.total"></ion-progress-bar>
    <ion-label color="success">{{inventaireService.evolutionInventaire.en_cours/inventaireService.evolutionInventaire.total | percent}}</ion-label>
  </ion-label>
  <ion-item>
    <ion-icon (click)="scannerbarcode()" size="large" color="warning" class="ion-margin-end" name="scan-circle-outline"></ion-icon>
    <ion-searchbar (ionChange)="ionChange($event)" placeholder="Que cherchez vous ..."></ion-searchbar>
  </ion-item>
</ion-header>


<ion-content>
  <ion-grid *ngIf="inventaireService.inventaires">
    <ion-list class="ion-no-margin ion-no-padding"  *ngFor="let i of searcheItem" >
      <ion-item button lines="none" class="ion-no-margin ion-no-padding"  >
        <ion-icon slot="end"  class="ion-margin-bottom ion-padding-bottom" [color]="i.etat=='en_cours'?'success':'danger'" size="small" [name]="i.etat=='en_cours'?'checkmark-circle-outline':'close-circle-outline'"></ion-icon>
        <ion-label>
          <strong>{{i.immobilisation.libelle}}</strong>
          <p>{{i.immobilisation.description}}</p>
          {{i.immobilisation.marque}}
        </ion-label>
        <ion-icon size="large" (click)="modalimmobilisation(i)"  class="ion-no-margin ion-no-padding" color="primary" name="contract-outline"></ion-icon>
      </ion-item>

    </ion-list>

  </ion-grid>


  <div class="loading" *ngIf="!inventaireService.inventaires">
    <ion-spinner name="lines"></ion-spinner>
    <p>Chargement en cours</p>
  </div>


  <div class="empty-cart" *ngIf="!inventaireService.loginService.userLogin.referencesession">
    <ion-icon color="danger" name="ban-outline"></ion-icon>
    <p>Aucune session encours</p>
  </div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <ion-button [disabled]="is_loading==true"  (click)="cloturerInventaire()">Cloturer
        <ion-spinner name="lines" *ngIf="is_loading"></ion-spinner>
      </ion-button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-footer>
